<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FerreteriaGHome.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
 <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info bg-gradient border-bottom box-shadow mb-3">
            <div class="container p-3">
                <a class="navbar-brand h2" asp-area="" asp-controller="Home" asp-action="Index">Proyecto de Control</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    <ul class="navbar-nav flex-grow-1">

                       @* <li class="nav-item">

                            <a class="nav-link text-dark" style="font-size:20px" asp-area="" asp-controller="Products" asp-action="Index">Productos</a>
                        </li>*@
                    <li class="nav-item">

                        <a class="nav-link text-dark" style="font-size:20px" asp-area="" asp-controller="Activities" asp-action="Index">Actividades</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link text-dark" style="font-size:20px" asp-area="" asp-controller="Proyects" asp-action="Index">Proyectos</a>
                    </li>
                        <li class="nav-item">
                            @if (this.User.IsInRole("Admin") ||  this.User.IsInRole("Client"))
                        {
                            <a class="nav-link text-dark" style="font-size:20px" asp-area="" asp-controller="Orders" asp-action="Index">Ordenes</a>
                        }
                        
                        </li>
                         <li class="nav-item">
                            @if (this.User.IsInRole("Admin") ||  this.User.IsInRole("Client"))
                        {
                            <a class="nav-link text-dark" style="font-size:20px" asp-area="" asp-controller="SaleF" asp-action="Index">Ventas</a>
                        }
                        
                        </li>
                        <li class="nav-item">
                            @if (this.User.IsInRole("Admin"))
                            {
                    <a class="nav-link text-dark" style="font-size:20px" asp-area="" asp-controller="Brands" asp-action="Index">Marcas</a>}
                        </li>

                        <li class="nav-item">
                             @if (this.User.IsInRole("Admin"))
                        {
                            <a class="nav-link text-dark" style="font-size:20px" asp-area="" asp-controller="Providers" asp-action="Index">Provedores</a>
                        }
                    </li>

                           <li class="nav-item dropdown bg-success bg-gradient">
                            @if (this.User.IsInRole("SalesAgent") || this.User.IsInRole("Admin"))
                            {
                    <a class="nav-link dropdown-toggle" style="font-size:20px" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuarios</a>}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                                @if (this.User.IsInRole("SalesAgent") || this.User.IsInRole("Admin"))
                                {
                      <a class="nav-link text-dark" style="font-size:20px" asp-area="" asp-controller="Clients" asp-action="Index">Clientes</a>}
                                <div class="dropdown-divider"></div>

                                 @if (this.User.IsInRole("Admin"))
                                 {
                                      <a class="nav-link text-dark" style="font-size:20px"  asp-area="" asp-controller="SaleAgents" asp-action="Index">Agente de Ventas</a>
                                     
                                    
                                 }
                               
                            </div>
                        </li>

                       

                        @*<li class="nav-item dropdown bg-success bg-gradient">
                            @if (this.User.IsInRole("SalesAgent") || this.User.IsInRole("Admin"))
                            {
                    <a class="nav-link dropdown-toggle" style="font-size:20px" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Venta/Compras</a>}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                                @if (this.User.IsInRole("SalesAgent") || this.User.IsInRole("Admin"))
                                {
                    <a class="nav-link text-dark" style="font-size:20px" asp-area="" asp-controller="Sales" asp-action="Index">Ventas</a>}
                                <div class="dropdown-divider"></div>

                                 @if (this.User.IsInRole("Admin"))
                                 {
                                      <a class="nav-link text-dark" style="font-size:20px" asp-area="" asp-controller="Shoppings" asp-action="Index">Compras</a>
                                 }


                               
                               

                            </div>
                        </li>*@

                        @*<li class="nav-item dropdown bg-success bg-gradient">
                            @if (this.User.IsInRole("Admin"))
                            {
                    <a class="nav-link dropdown-toggle" style="font-size:20px" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Detalles</a>}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                 <a class="nav-link text-dark" style="font-size:20px" asp-area="" asp-controller="SaleDetails" asp-action="Index">Detalle de Venta</a>
                                <div class="dropdown-divider"></div>
                                <a class="nav-link text-dark" style="font-size:20px" asp-area="" asp-controller="ShoppingDetails" asp-action="Index">Detalle de Compras</a>

                            </div>
                        </li>*@
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (this.User.Identity.IsAuthenticated)
                        {
            <li style="font-size:15px; margin: auto;">@this.User.Identity.Name</li>
                            <li>
                                <a class="nav-link text-dark navbar-right" style="font-size:20px" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li> }
                                        else
                                        {
                            <li>
                                <a class="nav-link text-dark navbar-right" style="font-size:20px" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>}

                    </ul>
                </div>
            </div>
        </nav>
    </header>
<body>
@*    <link rel="stylesheet" type="text/css" href="~/css/portadaestilo.css">*@
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

        <div class="text-center" class="titulo">
        
        @*</div>
        <div>
            <p class="parrafo1">Donde encuetras de todo, conocce nuestra sucursal con todo preparado para tu hogar desde la variedad de herramientas, herramientas pesadas, utencilios para la cocina y jarceria.</p>
        </div>
        <p class="parrafo2">Conoce nuestros nuevos: </p>
        <div><a href="">Productos</div>*@

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

 <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 Proyecto de Control <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </div>
    </footer>


</html>