<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FerreteriaGHome.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
 <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary border border-bottom box-shadow mb-5">
            <div class="container-fluid p-4">
                <a class="h4 mr-5" asp-area="" asp-controller="Home" asp-action="Index">Proyecto de Control</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size:20px" asp-area="" asp-controller="Activities" asp-action="Index">Actividades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size:20px" asp-area="" asp-controller="Proyects" asp-action="Index">Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size:20px" asp-area="" asp-controller="Users" asp-action="Index">Usuarios</a>
                        </li>
                       
                    

                         

                       

                    
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li style="font-size:15px; margin: auto;">@this.User.Identity.Name</li>
                            <li>
                                <a class="nav-link text-dark navbar-right" style="font-size:20px" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="nav-link text-dark navbar-right" style="font-size:20px" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
<body>
@*    <link rel="stylesheet" type="text/css" href="~/css/portadaestilo.css">*@
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

        
        
        

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>



</html>