@model FerreteriaGHome.Web.Data.Entities.Client

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Estas seguro de eliminarlo?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
         <a asp-action="Index" class=" btn btn-outline-warning"><span class="material-symbols-outlined">arrow_back</span></a>
         <input type="submit" value="delete" class="btn btn-primary material-symbols-outlined" />
    </form>
</div>
