@{
    ViewData["Title"] = "Home Page";
}
<br />

<div class="container border border-success mt-3 p-5 title">
    <p class="h1" style="text-align:center">FerreteriaGHome</p>
    <p class="h3" style="text-align:center">Encuentra todo lo que buscas al mejor precio</p>
</div>


<br />
<br />

<div class="container p-3">
    <div class="row">
        <div class="col-sm-7" style="margin: auto">
              <p class="h2" style="margin-left:50px">!Conoce más de nuestra ferretería!</p>
              <br>
              <p class="h3" style="margin-left:80px">Haciendo click al siguiente video...</p>
        </div>
        <div class="col-sm-5">
            <div class="embed-responsive embed-responsive-16by9 video">
                <iframe width="942" height="530" src="https://www.youtube.com/embed/2jp4RPtD4vU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div>
            
        </div>

    </div>
   
</div>

<div class="container border border-success mt-5 p-5 summary">
        <div class="row">
          <div class="col-sm-6">
            <p class="h2">GENERAMOS SOLUCIONES INTEGRALES</p>
        
            <ul class="pt-3">
                <li>Lo más importante es comprender a fondo tus necesidades en herramientas y productos, para ofrecerte la mejor solución en el menor tiempo posible, esta ha sido nuestra convicción desde el primer día; brindar un servicio cordial y eficiente con una asesoría ética y técnica personalizada a tus necesidades.</li>
                <li>Nuestro servicio técnico es de primer nivel y para lograrlo contamos con siete puntos de venta especializados en distintos segmentos del mercado y un Centro de Servicio calificado</li>
                
                
            </ul>
            <div class="col pt-2">
                <img src="~/images/page/soluciones.jpg" alt="" width="300px" style="border-radius: 30px">
            </div>

          </div>
          <div class="col-sm-6">
            <p class="h2">GARANTÍA Y COMPROMISO A LARGO PLAZO CONTIGO</p>
        
            <ul class="pt-3">
                <li>Precios competitivos.</li>
                <li>Ofrecer únicamente productos de calidad.</li>
                <li>Servicio rápido y eficiente durante la compra.</li>
                <li>Y un inigualable servicio post-venta.</li>
                
            </ul>
            <div class="col pt-2">
              
                     <img src="~/images/page/compromiso.jpg" alt="" width="300px" style="border-radius:30px">
                
               
            </div>

          </div>
         
        </div>
      
        <div class="row mt-5">
            <div class="col-sm-6">
                <p class="h2">Ofrecemos una gama completa de productos</p>

                <ul class="pt-3">
                    <li>En nuestra tienda en línea puedes adquirir más de 7 mil productos de los 37 mil que tenemos en sucursales.</li>
                    <li>Cada producto y marca que ingresa es sometido a rigurosas pruebas por nuestro Centro de Servicio y Departamento de Control de Calidad, en especial en equipos eléctricos o a gasolina para verificar que cumplen con los estándares más altos de rendimiento y durabilidad.</li> 
                </ul>
                <div class="col pt-2">
                    <img src="~/images/page/productos.jpg" alt="" width="300px" style="border-radius: 30px">
                </div>

            </div>

             <div class="col-sm-6">
                <p class="h2">Beneficios de ser cliente</p>

                <ul class="pt-3">
                    <li>Al hacer tu compra no sólo estás comprando un producto de alta calidad que ha sido rigurosamente seleccionado por nuestro equipo de expertos, también estas adquiriendo el respaldo que ofrecemos en las máquinas y equipos que adquieras con nosotros.</li>
                    <li>al acudir a nuestro Centro de Servicio, obtienes automáticamente un descuento en refacciones y mano de obra.</li> 
                </ul>
                <div class="col pt-2">
                    <img src="~/images/page/beneficios.jpg" alt="" width="300px" style="border-radius: 30px">
                </div>

            </div>
           

        </div>

    </div>

    
