@{
    ViewData["Title"] = "Home Page";
}
<br />

<div class="container border border-info mt-3 p-5 title">
    <p class="h1" style="text-align:center">Proyecto de Control de Proyectos</p>
    <p class="h3" style="text-align:center">Administra las actividades de tu poryecto facilmente</p>
</div>



   

    
