@{
    ViewData["Title"] = "Home Page";
}
<br />


    <p class="h2" style="text-align:center">Control de Proyectos</p>
    <p class="h5" style="text-align:center">Lleva el control de las actividades de tu proyecto fácilmente</p>





   

    
