@{
    ViewData["Title"] = "Home Page";
}


    <div>
        <h1 class="text-center">FerreteriaGHome</h1>

        <p >Donde encuetras de todo, conocce nuestra sucursal con todo preparado para tu hogar desde la variedad de herramientas, herramientas pesadas, utencilios para la cocina y jarceria.</p>

        <p class="parrafo2">Conoce nuestros nuevos: </p>
        <div>Productos</div>
    </div>


    
