/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.tab {
    border-radius: 25px;
}

.title {
    border-radius: 30px;
}

.summary {
    border-radius: 30px;
}

.video {
    border-radius: 30px;
}

.pic {
    border-radius: 30px;
}

.navbar {
    margin:15px;
    background-color: #ecf4fd;
    border-radius: 30px;
}

.box-shadow {
    box-shadow: 3px 0.8rem 0.75rem rgba(0, 0, 0, .05) !important;
}

.container {
    width: 100%;
    background-color: #f9f9fb;
    border: 1px solid #e8e8e8;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 0.5rem 0.75rem rgba(0, 0, 0, .05) !important;
}

.table th, .table td {
    border-top: none !important;
}

.border-info {
    border-color: #17a2b8 !important;
    background-color: #f3f4f8;
}

.act-proy{
    color:#ffff !important;
}

.containercontrol {
    background-color: #f3f4f8;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


/* Provide sufficient contrast against white background */
a {
    color: #679fed;
    text-decoration: none !important;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
   
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
